@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0e0e;
    --foreground: #a01313;
  }
}

body {
  @apply min-h-screen bg-background text-foreground;
}
